* {
    margin: 0;
    padding: 0;
}

header,
footer {
    width: 100%;
    height: 140px;
    background-color: rgb(64, 64, 117);
    color: white;
}

h1  {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 60px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 50px;
}

img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

ul, 
ol {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding-left: 40px;
    font-size: 17px;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 25px;
  }

  h3,
  h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-left: 20px;
    font-size: 20px;
}

.card {
    width: 80%;
    margin: 40px auto;
    border: 0px solid gray;
    background: rgb(233, 232, 232);
    box-shadow: rgba(6, 69, 162, 0.24) 0px 3px 8px;
  }